<div class="shadow-div" [ngStyle]="{'display': sidebarVisible ? 'inline': 'none', 'opacity': sidebarVisible ? '1': '0'}" (click)="customClose()"></div>
<div class="main-div">
  <p-drawer  #sidebarRef [(visible)]="sidebarVisible" [modal]=false>
    <ng-template pTemplate="headless">
      <div class="flex flex-column h-full">
        <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
          <span class="inline-flex align-items-center gap-2">
            <!-- <img src="../../../assets/images/logo.png" class="logo-img" /> -->
            <span class="text-2xl font-medium" [ngStyle]="{color: 'var(--primary-color)'}">NOME EMPRESA</span>
          </span>
          <span class="close-icon">
            <button type="button" (click)="customClose()">
            <i class="pi pi-times" [ngStyle]="{color: 'var(--primary-color)'}"></i>
            </button>
          </span>
        </div>
        <div class="overflow-y-auto">
          @for (route of availableRoutes; track route.label){
            @if (canAccessRoute(route.rolesCanAccess)) {
              <ul class="list-none p-3 m-0">
                <li>
                  <div
                    pRipple
                    pStyleClass="@next"
                    enterClass="hidden"
                    enterActiveClass="slidedown"
                    leaveToClass="hidden"
                    leaveActiveClass="slideup"
                    class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
                  >
                    <span class="font-medium">{{ route.label }}</span>
                    <i class="pi pi-chevron-down"></i>
                  </div>
                  <ul class="list-none p-0 m-0 overflow-hidden" [ngClass]="{'hidden': route.hidden}">
                    @for (childrenRoute of route.routes; track childrenRoute.label){
                      @if (canAccess(childrenRoute.rolesCanAccess)) {
                        @if (childrenRoute.routes.length > 0){
                          <li>
                            <a
                              pRipple
                              pStyleClass="@next"
                              enterClass="hidden"
                              enterActiveClass="slidedown"
                              leaveToClass="hidden"
                              leaveActiveClass="slideup"
                              class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                            >
                              <i [class]="childrenRoute.class"></i>
                              <span class="font-medium">{{ childrenRoute.label }}</span>
                              <i class="pi pi-chevron-down ml-auto"></i>
                            </a>
                            <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                              @for (grandchildRoute of childrenRoute.routes; track grandchildRoute.label){
                                <li>
                                  @if (grandchildRoute.routeQuery.length > 0){
                                    <a (click)="navigateToWithQuery(grandchildRoute.routeQuery[0], grandchildRoute.routeQuery[1])" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                        <i [class]="grandchildRoute.class"></i>
                                      <span class="font-medium">{{ grandchildRoute.label }}</span>
                                    </a>
                                  }@else {
                                    <a (click)="navigateTo(childrenRoute.route)" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                      <i [class]="grandchildRoute.class"></i>
                                      <span class="font-medium">{{ grandchildRoute.label }}</span>
                                    </a>
                                  }
                                </li>
                              }
                            </ul>
                          </li>
                        } @else {
                          <li>
                            <a (click)="childrenRoute.route ? navigateTo(childrenRoute.route) : navigateToWithQuery(childrenRoute.routeQuery[0], childrenRoute.routeQuery[1])" pRipple class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                              <i [class]="childrenRoute.class"></i>
                              <span class="font-medium">{{ childrenRoute.label }}</span>
                            </a>
                          </li>
                        }
                      }
                    }
                  </ul>
                </li>
              </ul>
            }
          }
        </div>
        <div class="mt-auto">
          <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
          <a (click)="navigateTo('settings')" pRipple class="m-3 flex align-items-center cursor-pointer p-3 gap-2 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <p-avatar [image]="`https://ui-avatars.com/api/?name=${userData?.user?.firstName}+${userData?.user?.lastName}&background=7c3aed&color=FFF&size=128&bold=true`" shape="circle" />
            <span class="font-bold">{{userData?.user?.firstName}} {{userData?.user?.lastName}}</span>
          </a>
          <div class="container-bottom">
            <app-button-theme></app-button-theme>
            <button (click)="logout()"><i class="pi pi-sign-out" style="font-size: 1.2rem"></i></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-drawer>
  <p-button (click)="sidebarVisible = true" [severity]="'info'" [style]="{'padding': '0.5rem', 'backgroundColor': 'var(--primary-color)', 'color': 'var(--secondary-color)', 'border': 'none'}">
    <i class="pi pi-bars" style="font-size: 1.5rem;"></i>
  </p-button>
</div>
