<header class="header-shell">
  <p-toolbar>
    <ng-template pTemplate="start">
      <div class="header-start">
        <app-sidebar></app-sidebar>

        <div class="brand-lockup">
          <span class="brand-mark">S</span>
          <div class="brand-copy">
            <span class="brand-copy__eyebrow">Subscription manager</span>
            <strong>Control Center</strong>
            <small class="brand-copy__support">Clientes, planos e cobranca em um unico workspace.</small>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="header-end">
        <div class="header-context">
          <span class="header-context__eyebrow">Area atual</span>
          <strong>Overview</strong>
        </div>

        <app-button-theme [compact]="true"></app-button-theme>

        <div class="profile-chip">
          <div class="profile-chip__copy">
            <span class="profile-chip__eyebrow">Conta ativa</span>
            <strong>{{ fullName }}</strong>
          </div>

          <p-avatar
            [image]="'https://ui-avatars.com/api/?name=' + (userData?.user?.firstName || 'U') + '+' + (userData?.user?.lastName || 'S') + '&background=7c3aed&color=FFF&size=128&bold=true'"
            shape="circle"
            [size]="'large'"
          />
        </div>
      </div>
    </ng-template>
  </p-toolbar>
</header>
